**1. What are data structures, and why are they important.**
 Ans: A data structure is a specialized way of organizing, storing, and managing data in a computer so that it can be accessed and modified efficiently. Data structures define not just how the data is arranged in memory, but also how it can be processed and used by algorithms and computer programs.

**Importance:**

**Efficiency**: They enable fast and efficient storage, retrieval, and modification of data, which is crucial for high-performance algorithms and software. Choosing the right data structure can significantly improve the speed and responsiveness of an application.

**Organization:** They offer organized methods to store large amounts of data, making it easier to navigate, manage, and manipulate information.

**Problem-Solving:** Many real-world computational problems are easier to solve by selecting an appropriate data structure, such as efficiently searching, sorting, or modifying data sets.

**Scalability**: Well-designed data structures help systems manage increasing volumes of data without significant drops in performance or maintainability.

**Software Design:** They are fundamental to constructing clear, reusable, and maintainable code. Many programming languages provide built-in support and libraries for using advanced data structures, which helps developers create robust software more quickly.

**Real-World Applications:** Data structures are the backbone of databases, operating systems, web search engines, computer graphics, network routing, machine learning, and almost every significant area of computing.

# 2. Explain the difference between mutable and immutable data types with examples

Ans:
Mutable data types can be changed after they are created—meaning you can modify, add, or remove elements or values without having to create a new object.

Exp:List, set, dict.

Immutable data types cannot be changed after their creation. Any operation that tries to modify them results in the creation of a new object, leaving the original unchanged.

Exp: tupple, str.


# What are the main differences between lists and tuples in Python?

List:Mutable: can be modified after creation.
     Defined using square brackets [].
     Consumes more memory.
    
Tupples:Immutable: cannot be changed after creation.
        Defined using parentheses ().
        Consumes less memory.

# Describe how dictionaries store data.
person = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}

# Why might you use a set instead of a list in Python?
1.Automatically eliminate duplicate values: Sets only store unique elements, so adding duplicate items has no effect. This makes sets ideal for deduplication tasks.

2.Test membership efficiently: Sets use hashing to provide much faster membership checks (in operator) compared to lists, especially for large collections.

3.Perform mathematical set operations: Sets support efficient union, intersection, and difference operations, useful for comparing and combining collections

# How do tuples ensure data integrity in Python
Tuples ensure data integrity in Python primarily through their immutability. Once a tuple is created, its contents cannot be changed, added to, or removed—any attempt to modify a tuple will result in an error. That's how tupples ensure data intigrity in python by not changing.

# What is a hash table, and how does it relate to dictionaries in Python?
Ans: A hash table (also known as a hash map) is a data structure that stores key-value pairs in an array using a hash function to map keys to indices. It allows for efficient lookup, insertion, and deletion of elements.
In Python, dictionaries are implemented using hash tables. When you create a dictionary and add key-value pairs, Python uses a hash function to convert the key into an index of the underlying array.

# Can lists contain different data types in Python?
Ans: Yes,lists in Python can contain different data types.

# Explain why strings are immutable in Python?
Ans: Benefits of Immutable Strings-
Security: Immutable strings help prevent buffer overflow attacks, where an attacker tries to modify a string's contents to execute malicious code. With immutable strings, any attempt to modify a string will result in a new string being created, rather than modifying the original string.

Thread Safety: Immutable strings are thread-safe, as multiple threads can access the same string without worrying about one thread modifying the string and affecting other threads.

Hashability: Immutable strings can be used as keys in dictionaries, as their hash value remains constant. If strings were mutable, their hash value could change after insertion into a dictionary, leading to unexpected behavior.

Performance: Immutable strings allow Python to optimize string operations, such as interning (reusing existing string objects for identical strings). This can improve performance by reducing memory allocation and garbage collection.

#What advantages do dictionaries offer over lists for certain tasks?
Ans:

*   Fast Lookups
*   Key-Value Pairs
*   Efficient Data Retrieval
*   Flexible Data Structure
*   Improved Code Readability

# Describe a scenario where using a tuple would be preferable over a list?
Ans: A tuple is preferable over a list in scenarios where you need to ensure that data remains constant and unchangeable throughout the program. For example, if you are storing a fixed set of configuration parameters, geographic coordinates (latitude, longitude), or dates, using a tuple prevents accidental modification and preserves data integrity.

#How do sets handle duplicate values in Python?
Ans:In Python, sets are an unordered collection of unique elements. When you add elements to a set, Python automatically removes any duplicates.
exp: my_set = {1, 2, 2, 3}
print(my_set)  
# Output: {1, 2, 3}

# How does the “in” keyword work differently for lists and dictionaries/
Ans: "in" keyword use in list for checking values, whether its there or not.
     "in" keywords in dict is for checking the key.

# Can you modify the elements of a tuple? Explain why or why not?
Ans: No, you cannot modify the elements of a tuple in Python. Tuples are immutable, which means that once they are created, their elements cannot be changed, added, or removed. If you attempt to assign a new value to an element of a tuple, Python will raise a TypeError, indicating that the object does not support item assignmen.

*The immutability of tuples ensures their data remains fixed throughout the program, which protects against accidental changes and promotes data integrity.

#What is a nested dictionary, and give an example of its use case?
Ans: A nested dictionary is a dictionary that contains another dictionary as its value. This allows for more complex data structures, where you can store and access data in a hierarchical manner.

Exp: person = {"name": "John","age": 30,"address": {"street":"123 Main St", "city": "New York", "state": "NY", "zip": "10001"}}

In [6]:
my_name = input()
print(f' my naame is {my_name}')

raj
 my naame is raj

In [7]:
#Write a code to find the length of the string "Hello World"
a="Hello world"
len(a)

11

In [8]:
# Write a code to slice the first 3 characters from the string "Python Programming"
a = "Python Programming"
slice_result = a[:3]
print(slice_result)

Pyt

In [10]:
# Write a code to convert the string "hello" to uppercase
t = "hello"
upper_text = t.upper()
print(upper_text)

HELLO

In [16]:
# Write a code to replace the word "apple" with "orange" in the string "I like apple"
a = "I like apple"
a = a.replace("apple","orange")
print(a)

I like orange

In [19]:
# prompt: Write a code to create a list with numbers 1 to 5 and print it

numbers = list(range(1, 6))
print(numbers)

[1, 2, 3, 4, 5]

In [20]:
# Write a code to append the number 10 to the list [1, 2, 3, 4]
l = [1, 2, 3, 4]
l.append(10)
print(l)

[1, 2, 3, 4, 10]

In [21]:
# Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
l = [1, 2, 3, 4, 5]
l.pop(3)
print(l)

[1, 2, 3, 5]

In [2]:
# Write a code to access the second element in the list ['a', 'b', 'c', 'd']
l = ['9', '2', '4', '5']
second_element = l[1]
print(second_element)

2

In [5]:
# Write a code to reverse the list [10, 20, 30, 40, 50]
l = [10, 20, 30, 40, 50]
l = l[::-1]
print(l)

[50, 40, 30, 20, 10]

In [12]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it
t = (100, 200, 300)
print(t)
type(t)

(100, 200, 300)

tuple

In [13]:
# Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
t = ('red', 'green', 'blue', 'yellow')
a = t[-2]
print(a)

blue

In [14]:
# 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).
a = (10, 20, 5, 15)
m = min(a)
print(m)

5

In [15]:
#. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
t = ('dog', 'cat', 'rabbit')
a = t.index('cat')
print(a)

1

In [17]:
#. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
t = ('apple', 'banana', 'orange')
a = 'kiwi' in t
print(a)
if a==True:
    print("kiwi is in the tuple")
else:
    print("kiwi is not in the tuple")

False
kiwi is not in the tuple

In [20]:
# Write a code to create a set with the elements 'a', 'b', 'c' and print it
my_set = {'a', 'b', '1', 'ram', True, (1,2,3)}
print(my_set)

{True, 'a', (1, 2, 3), '1', 'ram', 'b'}

In [25]:
# Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
a = {1, 2, 3, 4, 5}
a.clear()
print(a)

set()

In [26]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
a = {1, 2, 3, 4}
a.remove(4)
print(a)

{1, 2, 3}

In [29]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
a = {1, 2, 3}
b = {3, 4, 5}
c = a.union(b)
print(c)

{1, 2, 3, 4, 5}

In [30]:
#0. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a = {1, 2, 3}
b = {2, 3, 4}
c = a.intersection(b)
print(c)

{2, 3}

In [ ]:
a = (1, 2, 3)
b = (3, 4, 5)
c = a + b
print(c)

In [2]:
# Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
my_dict = {"name": "raj","age": 22, "city": "Kolkata"}
print(my_dict)

{'name': 'raj', 'age': 22, 'city': 'Kolkata'}

In [4]:
# Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [5]:
#. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
my_dict = {'name': 'Alice', 'age': 30}
a = my_dict['name']
print(a)

Alice

In [6]:
#Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

In [9]:
#Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
my_dict = {'name': 'Alice', 'city': 'Paris'}
a = 'city' in my_dict
print(a)

True

In [11]:
# Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict= {1: 'raj', 2: '22', 3: 'Kolkata '}

print(my_list)
print( my_tuple)
print( my_dict)

[1, 2, 3, 4, 5]
(10, 20, 30, 40, 50)
{1: 'raj', 2: '22', 3: 'Kolkata '}

In [15]:
# Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
a=[10, 50, 20, 13, 55]
a.sort()
print(a)

[10, 13, 20, 50, 55]

In [17]:
#Write a code to create a list with strings and print the element at the third index
l = ['apple', 'banana', 'orange', 'grape', 'kiwi']
a= l[2]
print(a)

orange

In [19]:
# Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict2.update(dict1)
print(dict2)

{'c': 3, 'd': 4, 'a': 1, 'b': 2}

In [21]:
# Write a code to convert a list of strings into a set
l = ['apple', 'banana', 'orange', 'grape', 'kiwi']
a = set(l)
print(a)
type(a)

{'banana', 'grape', 'apple', 'kiwi', 'orange'}

set